*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: orange;
}
body{
    
    background-image: url("githubimage.jpeg");
    background-size: cover;
  
    background-position: center;
    
}

.piyush{
     font-size: 50px;
    
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}